@font-face {
    font-family: 'OpenSansSemiBold';
    src: url('OpenSansSemiBold.woff2') format('woff2'),
        url('OpenSansSemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OpenSansSemiBold';
    src: url('OpenSansSemiBold.woff2') format('woff2'),
        url('OpenSansSemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OpenSansBold';
    src: url('OpenSansBold.woff2') format('woff2'),
        url('OpenSansBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OpenSansBold';
    src: url('OpenSansBold.woff2') format('woff2'),
        url('OpenSansBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OpenSansRegular';
    src: url('OpenSansRegular.woff2') format('woff2'),
        url('OpenSansRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OpenSansRegular';
    src: url('OpenSansRegular.woff2') format('woff2'),
        url('OpenSansRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

